# Начало работы с датасетом

In [1]:
import pandas as pd

bikes = pd.read_csv('C:/Users/user/Jupyter/BikeData.csv')
print(bikes.shape)
bikes.head()

(8760, 12)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [ ]:
bikes.info()

In [2]:
bikes['Hour']

0        0
1        1
2        2
3        3
4        4
        ..
8755    19
8756    20
8757    21
8758    22
8759    23
Name: Hour, Length: 8760, dtype: int64

In [7]:
bikes['Hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [ ]:
bikes[['Partner 1', 'Partner 2']]

In [12]:
bikes.iloc[124:126]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
124,06/12/2017,4,-3.4,75,0.0,0.0,0.4,Winter,No Holiday,Yes,36,4
125,06/12/2017,5,-3.6,76,0.0,0.0,0.4,Winter,No Holiday,Yes,71,66

In [5]:
bikes.iloc[124]['Holiday']

'No Holiday'

In [8]:
bikes[bikes['Holiday'] == 'Holiday']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
504,22/12/2017,0,-1.7,79,0.5,0.0,0.8,Winter,Holiday,Yes,58,38
505,22/12/2017,1,-1.6,79,0.6,0.0,0.8,Winter,Holiday,Yes,205,203
506,22/12/2017,2,-1.1,79,0.7,0.0,0.8,Winter,Holiday,Yes,46,86
507,22/12/2017,3,-0.6,76,0.5,0.0,0.7,Winter,Holiday,Yes,94,41
508,22/12/2017,4,-0.3,76,0.9,0.0,0.7,Winter,Holiday,Yes,12,27
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [9]:
bikes[(bikes['Holiday'] == 'Holiday') & 
      (bikes['Temperature'] > 15)].shape

(179, 12)

In [10]:
bikes[(bikes['Holiday'] == 'Holiday') | 
      (bikes['Temperature'] > 15)].shape

(4293, 12)

In [11]:
bikes[~((bikes['Holiday'] == 'Holiday') | 
      (bikes['Temperature'] > 15))].shape

(4467, 12)

In [16]:
bikes[bikes['Temperature'].isna()]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
39,02/12/2017,15,NaN,41,2.3,0.0,0.0,Winter,No Holiday,Yes,490,198
50,03/12/2017,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,54
64,03/12/2017,16,NaN,77,1.6,0.0,0.0,Winter,No Holiday,Yes,49,528
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
151,07/12/2017,7,NaN,93,0.5,0.0,0.9,Winter,No Holiday,Yes,140,129
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [14]:
bikes[bikes['Temperature'].isin(range(10,20))]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
2223,03/03/2018,15,16.0,14,2.2,0.0,0.0,Spring,No Holiday,Yes,965,1236
2225,03/03/2018,17,15.0,22,2.5,0.0,0.0,Spring,No Holiday,Yes,795,925
2270,05/03/2018,14,10.0,44,1.9,0.0,0.0,Spring,No Holiday,Yes,269,77
2272,05/03/2018,16,11.0,39,1.2,0.0,0.0,Spring,No Holiday,Yes,660,185
2273,05/03/2018,17,10.0,43,1.4,0.0,0.0,Spring,No Holiday,Yes,625,755
...,...,...,...,...,...,...,...,...,...,...,...,...
8272,10/11/2018,16,16.0,37,1.9,0.0,0.0,Autumn,No Holiday,Yes,205,554
8342,13/11/2018,14,15.0,37,1.6,0.0,0.0,Autumn,No Holiday,Yes,82,405
8417,16/11/2018,17,11.0,70,2.9,0.0,0.0,Autumn,No Holiday,Yes,1141,1078
8677,27/11/2018,13,11.0,60,0.9,0.0,0.0,Autumn,No Holiday,Yes,46,140
8680,27/11/2018,16,12.0,74,2.1,0.0,0.0,Autumn,No Holiday,Yes,111,571

In [15]:
bikes[bikes['Seasons'].isin(['Winter', 'Autumn'])].shape

(4344, 12)

In [ ]:
bikes['Temperature'].sort_values()

In [ ]:
bikes['Temperature'].sort_values(ascending=False)

In [ ]:
bikes.sort_values(by=['Temperature', 'Humidity'])

In [ ]:
bikes.sort_values(by=['Temperature', 'Humidity'], ascending=[True, False])

In [ ]:
bikes.sort_values(by=['Humidity'])